@use '../abstract' as *;
@use '../component' as *;

.banner--nextgen {
    background-image: url('../../images/nextgen/banner-nextgen-sm.jpg');
    @include mediaQuery {
        background-image: url('../../images/nextgen/banner-nextgen.jpg');
    }
}

.nextgen {
    margin-bottom: 60px;

    h3 {
        font-size: clamp(3rem, 6vw, 5rem);
        font-family: "Speedee-bold";
    }

    h4 {
        margin-top: 0;
        font-size: clamp(2rem, 6vw, 3rem);
        margin-bottom: 1rem;
     
    }

    iframe {
        aspect-ratio:  16 / 9;
    }

    strong {
        @media (min-width: 576px) {
            font-size: 16px;
        }

        @media (min-width: 768px) {
            font-size: 18px;
        }

        font-size: 15px;
    }

    p {
        @media (min-width: 576px) {
            font-size: 16px;
        }

        @media (min-width: 768px) {
            font-size: 18px;
        }

        line-height: 1.5;

        margin-top: 0;
        margin-bottom: 1rem;
        text-align: left;
        box-sizing: border-box;

        font-size: 15px;
    }
}